@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Festive&family=Great+Vibes&family=Lato&family=Lora:ital@1&family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ee3e38 0%, #ee3e3885 50%, #ee3e38 100%);
  border: 1px solid transparent;
  border-radius: 30px;
  background-clip: content-box;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

body {
  background: #b29f9f24;
}

header {
  position: fixed;
  left: 0;
  right: 0;
}

header {
  top: 0;
  max-width: 1800px;
  margin: 0 auto;
}
.app:not(:has(main)){
  display: unset;
}
.app:has(main){
  display: flex;
  justify-content: center;
}
main {
  position: fixed;
  top: 125px;
  bottom: 0px;
  z-index: 2;
  overflow-y: scroll;
  padding-bottom: 5rem;
}

.dashboard {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}

.dashboard div {
  margin-top: 7px;
}

.login {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.login__google {
  background-color: #4285f4;
}


.register {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
}

.reset {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.reset__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.reset__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: black;
  background-color: white;
}

.reset div {
  margin-top: 7px;
}

/* form styling */

.styled-input {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50px;
  padding-top: 5px;
}

.styled-input input {
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 14px;
  border: 1px solid rgb(207, 207, 207);
  padding: 10px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  outline: none;
}

.styled-input textarea {
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 14px;
  border: 1px solid rgb(207, 207, 207);
  padding: 10px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.styled-input:not(textarea) label {
  color: black;
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  transform: translate(10px, -46px);
  font-size: 1rem;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transform: translate(10px, -46px);
  -moz-transform: translate(10px, -46px);
  -ms-transform: translate(10px, -46px);
  -o-transform: translate(10px, -46px);
}

.styled-input:has(textarea) label {
  color: black;
  display: inline-block;
  background-color: white;
  -webkit-transition: all 0.25s ease;
  padding: 0;
  margin: 0;
  transition: all 0.25s ease;
  pointer-events: none;
  transform: translate(10px, -150px);
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transform: translate(10px, -150px);
  -moz-transform: translate(10px, -150px);
  -ms-transform: translate(10px, -150px);
  -o-transform: translate(10px, -150px);
  width: fit-content;
}

.styled-input label:focus,
.styled-input textarea:focus {
  outline: 0;
}

.styled-input input:focus~label,
.styled-input input:valid~label {
  transform: translate(11px, -54px);
  -webkit-transform: translate(11px, -54px);
  -moz-transform: translate(11px, -54px);
  -ms-transform: translate(11px, -54px);
  -o-transform: translate(11px, -54px);
  background-color: white;
  padding: 0 5px;
  font-size: smaller;
  width: fit-content;
  border-radius: 14px;
}

.styled-input textarea:valid~label,
.styled-input textarea:focus~label {
  transform: translate(11px, -175px);
  -webkit-transform: translate(11px, -175px);
  -moz-transform: translate(11px, -175px);
  -ms-transform: translate(11px, -175px);
  -o-transform: translate(11px, -175px);
  background-color: white;
  padding: 0 5px;
  font-size: smaller;
  width: fit-content;
  border-radius: 14px;
}

.styled-input>button {
  padding: 1rem 3rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 2px grey;
}

/* form styling end */
.active {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}


.slide:not(.carousel) {
  transform: scale(2) translateX(25%) !important;
  -webkit-transform: scale(2) translateX(25%) !important;
  -moz-transform: scale(2) translateX(25%) !important;
  -ms-transform: scale(2) translateX(25%) !important;
  -o-transform: scale(2) translateX(25%) !important;
}

.profileAvatar {
  transition: .5s;
}

.profileAvatar:hover {
  transition: .5s;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

/* start of modal style */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 2em;
  min-width: 20em;
  max-width: 70%;
  color: #f00;
  background-color: #fff;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

/* end of modal style */
.textShadow {
  text-shadow: 2px 2px 2px black;
}

.overallMatchInfo {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  text-align: center;
  color: white;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.6);
  animation: pulseX 1.5s infinite;
  -webkit-animation: pulseX 1.5s infinite;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@keyframes pulseX {
  0% {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -o-transform: scale(0.95);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(90, 153, 212, 0);
    -o-transform: scale(1);
  }

  100% {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    -o-transform: scale(0.95);
  }
}


@-webkit-keyframes pulseX {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -o-transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);
    -o-transform: scale(1);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    -o-transform: scale(0.9);
  }
}

.anime.animated {
  animation-name: my-animation;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes my-animation {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.listedRooms,
.listedRooms::before,
.listedRooms::after {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.listedRooms {
  min-height: 1000px;
}

.listedRooms:not(:has(div)) {
  margin-bottom: 7rem;
}

.listedRooms:not(:has(div))::before {
  content: "- No available rooms from the applied filters -";
  padding: 1rem 2rem 5rem;
  display: block;
  color: black;
  position: absolute;
}

.questions {
  max-width: 700px;
}


/* ///
 */
.switch-holder {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.switch-label {
  padding: 0 20px 0 10px;
  margin-bottom: 4px;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 32px;
  margin: 0;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: inset 20px 20px 60px #f0f0f0,
    inset -20px -20px 60px #f0f0f0;
}

/* linear-gradient(145deg, #e6e3e3 10%, #f0f0f0) */
.switch-toggle input[type="checkbox"]+label::before {
  position: absolute;
  content: '';
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 4px;
  left: 8px;
  width: 45px;
  height: 22px;
  border-radius: 20px;
  background-color: #eeeeee;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
    3px 3px 5px rgba(0, 0, 0, .25);
  transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
  left: 50%;
  content: '';
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
    3px 3px 5px #00b33c;
}

/* */


.custom-select {
  padding: 4px;
  margin: 2px;
  list-style: none;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  outline: none;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e3e3 10%, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  appearance: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.elips {
  text-align: center;
  margin: 0 1rem;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: fit-content;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-height: 44px;
}

button[disabled] {
  background: radial-gradient(rgba(128, 128, 128, 0.356) 90%, red);
  color: rgb(88, 88, 88);
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #5c5c5c85,
    inset -20px -20px 60px #ffffff;
}

button[disabled]:hover {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  filter: none;
  -webkit-filter: none;
  cursor: no-drop;
}

.adminNavPanel>*:not(:nth-child(2)):not(:nth-child(1)):not(:last-child),
.adminNavPanel>*:last-child>button {
  font-size: x-large;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
  white-space: nowrap;
  gap: 1rem;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
}

.adminNavPanel>*:not(:nth-child(2)):not(:nth-child(1)):not(:last-child):hover,
.adminNavPanel>*:last-child>button:hover {
  background-color: rgba(238, 85, 68, 0.3);
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}

.activeA {
  background-color: rgb(203 213 225) !important;
}



/* 

.studsGridMess{
  display: flex;
  flex-direction: column;
}
.studsGridMess > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
} */
.studsGridMessShort {
  overflow-y: scroll;
  margin-top: 50px;
}

.studsGridMessShort>div {
  display: flex;
  justify-content: space-between;
  margin: 4px 20px;
  text-align: center;
  height: 87px;
}

.studsGridMessShort>div>p:nth-child(1) {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.studsGridMessShort>div>p:nth-child(1)>span {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.eli1 {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.eli2 {
  max-width: 187px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 26px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.eli23 {
  max-width: none;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}


.eli3 {
  max-width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 26px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.studsGridMessShort>div>p:nth-child(2) {
  width: 60%;
  text-align: start;
  margin: 0 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: fit-content;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 14px;
  flex-grow: 1;
}

.studsGridMessShort>div>p:nth-child(3) {
  width: 100px;
}

.studsGridMessShort>div>p:nth-child(4) {
  display: flex;
  width: 100px;
}

.burgerContainer {
  margin: 10px;
  margin-top: 28px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.label-check {
  display: none;
}

.hamburger-label {
  width: 50px;
  height: 58px;
  display: block;
  cursor: pointer;
}

.hamburger-label div {
  width: 50px;
  height: 6px;
  background-color: black;
  position: absolute;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 18px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 36px 0 0 0;
  transition: 0.3s;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%); */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .hamburger-label .line1 {
  transform: rotate(225deg) scaleX(1) translate(-12px, -18px);
  border-radius: 50px 50px 50px 0;
  -webkit-transform: rotate(225deg) scaleX(1) translate(-12px, -18px);
  -moz-transform: rotate(225deg) scaleX(1) translate(-12px, -18px);
  -ms-transform: rotate(225deg) scaleX(1) translate(-12px, -18px);
  -o-transform: rotate(225deg) scaleX(1) translate(-12px, -18px);
}

.dropdown:hover .hamburger-label .line2 {
  opacity: 0;
}

.dropdown:hover .hamburger-label .line3 {
  transform: rotate(-225deg) scaleX(1) translate(-8px, 12px);
  border-radius: 0 50px 50px 50px;
  -webkit-transform: rotate(-225deg) scaleX(1) translate(-8px, 12px);
  -moz-transform: rotate(-225deg) scaleX(1) translate(-8px, 12px);
  -ms-transform: rotate(-225deg) scaleX(1) translate(-8px, 12px);
  -o-transform: rotate(-225deg) scaleX(1) translate(-8px, 12px);
}

#roomsLength:empty::after {
  content: " - No rooms fit the filters. - ";
  display: block;
  color: black;
  position: absolute;
  min-width: 200px;
  text-align: center;

}

.userRatingsAction {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.userRatings:hover .userRatingsAction {
  display: flex;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}

.userRatingsAction button {
  filter: grayscale(100%);
  transition: filter 0.2s ease-in-out;
}

.userRatingsAction button:hover,
.userRatingsAction button:hover~button {
  filter: none;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@keyframes showfromleft {
  0% {
    opacity: 0;
    transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -o-transform: translateX(2rem);
  }

  30% {
    opacity: 1;
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
  }

  80% {
    opacity: 1;
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
  }

  100% {
    opacity: 0;
    transform: translateX(-2rem);
    -webkit-transform: translateX(-2rem);
    -moz-transform: translateX(-2rem);
    -ms-transform: translateX(-2rem);
    -o-transform: translateX(-2rem);
  }
}

@keyframes showfromleft2 {
  0% {
    opacity: 0;
    transform: translate(-50%, 4rem);
    -webkit-transform: translate(-50%, 4rem);
    -moz-transform: translate(-50%, 4rem);
    -ms-transform: translate(-50%, 4rem);
    -o-transform: translate(-50%, 4rem);
  }

  30% {
    opacity: 1;
    transform: translate(-50%, 4rem);
    -webkit-transform: translate(-50%, 4rem);
    -moz-transform: translate(-50%, 4rem);
    -ms-transform: translate(-50%, 4rem);
    -o-transform: translate(-50%, 4rem);
  }

  80% {
    opacity: 1;
    transform: translate(-50%, 4rem);
    -webkit-transform: translate(-50%, 4rem);
    -moz-transform: translate(-50%, 4rem);
    -ms-transform: translate(-50%, 4rem);
    -o-transform: translate(-50%, 4rem);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 4rem);
    -webkit-transform: translate(-50%, 4rem);
    -moz-transform: translate(-50%, 4rem);
    -ms-transform: translate(-50%, 4rem);
    -o-transform: translate(-50%, 4rem);
  }
}

@media screen and (min-width: 613px) {

  #tempPopup {
    animation: showfromleft 3s forwards;
    -webkit-animation: showfromleft 3s forwards;
  }
}

@media screen and (max-width: 613px) {

  #tempPopup {
    animation: showfromleft2 3s forwards;
    -webkit-animation: showfromleft2 3s forwards;
  }

  .arrRight {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}
.carousel-caption{
  position: unset!important;
  max-width: 80%;
  margin: auto;
}
.carousel-item{
  border: none!important;
}
.carousel{position:relative}.carousel.pointer-event{touch-action:pan-y}.carousel-inner{position:relative;width:100%;overflow:hidden}.carousel-inner::after{display:block;clear:both;content:""}.carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:transform .6s ease-in-out}@media (prefers-reduced-motion:reduce){.carousel-item{transition:none}}.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}.active.carousel-item-end,.carousel-item-next:not(.carousel-item-start){transform:translateX(100%)}.active.carousel-item-start,.carousel-item-prev:not(.carousel-item-end){transform:translateX(-100%)}.carousel-fade .carousel-item{opacity:0;transition-property:opacity;transform:none}.carousel-fade .carousel-item-next.carousel-item-start,.carousel-fade .carousel-item-prev.carousel-item-end,.carousel-fade .carousel-item.active{z-index:1;opacity:1}.carousel-fade .active.carousel-item-end,.carousel-fade .active.carousel-item-start{z-index:0;opacity:0;transition:opacity 0s .6s}@media (prefers-reduced-motion:reduce){.carousel-fade .active.carousel-item-end,.carousel-fade .active.carousel-item-start{transition:none}}.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;z-index:1;display:flex;align-items:center;justify-content:center;width:15%;padding:0;color:#fff;text-align:center;background:0 0;border:0;opacity:.5;transition:opacity .15s ease}@media (prefers-reduced-motion:reduce){.carousel-control-next,.carousel-control-prev{transition:none}}.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}.carousel-control-prev{left:0}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:2rem;height:2rem;background-repeat:no-repeat;background-position:50%;background-size:100% 100%}.carousel-control-prev-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")}.carousel-control-next-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")}.carousel-indicators{position:absolute;right:0;bottom:0;left:0;z-index:2;display:flex;justify-content:center;padding:0;margin-right:15%;margin-bottom:1rem;margin-left:15%;list-style:none}.carousel-indicators [data-bs-target]{box-sizing:content-box;flex:0 1 auto;width:30px;height:3px;padding:0;margin-right:3px;margin-left:3px;text-indent:-999px;cursor:pointer;background-color:#fff;background-clip:padding-box;border:0;border-top:10px solid transparent;border-bottom:10px solid transparent;opacity:.5;transition:opacity .6s ease}@media (prefers-reduced-motion:reduce){.carousel-indicators [data-bs-target]{transition:none}}.carousel-indicators .active{opacity:1}.carousel-caption{position:absolute;right:15%;bottom:1.25rem;left:15%;padding-top:1.25rem;padding-bottom:1.25rem;color:#fff;text-align:center}.carousel-dark .carousel-control-next-icon,.carousel-dark .carousel-control-prev-icon{filter:invert(1) grayscale(100)}.carousel-dark .carousel-indicators [data-bs-target]{background-color:#000}.carousel-dark .carousel-caption{color:#000}.spinner-border,.spinner-grow{display:inline-block;width:var(--bs-spinner-width);height:var(--bs-spinner-height);vertical-align:var(--bs-spinner-vertical-align);border-radius:50%;animation:var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name)}
.visually-hidden{
  display: none;
}


.timeline {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
.timeline section {
  min-height: 50px;
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.info:not(:first-of-type){
  border-top: 2px solid #b5bec6;
    height: 100%;
}
.timeline .info {
  background-clip: padding-box;
}
.timeline .info h2 {
  color: #364652;
  font-size: 1.5rem;
  margin-bottom: 1px;
  
  max-width: 500px;
}
.timeline .info span {
  color: #071108;
  
  max-width: 500px;
}
.timeline .info:nth-of-type(2n) {
  padding-right: 1em;
  text-align: right;
  align-items: end;
}
.timeline .info:nth-of-type(2n) span {
  display: inline-block;
  animation: slideInRight 1.5s forwards 0s ease-in-out;
}
.timeline .info:nth-of-type(2n+1) {
  padding-left: 1em;
  text-align: left;
}
.timeline .info:nth-of-type(2n+1) span {
  display: inline-block;
  animation: slideInLeft 1.5s forwards 0s ease-in-out;
}
.timeline .circle-container:nth-child(2n) .tl {
  grid-area: tl;
  border-top: 2px solid #b5bec6;
  border-right: 2px solid #b5bec6;
  border-top-right-radius: 20px;
  margin-bottom: -2px;
}
.timeline .circle-container:nth-child(2n) .bl {
  grid-area: bl;
  border-bottom: 2px solid #b5bec6;
  border-right: 2px solid #b5bec6;
  border-bottom-right-radius: 20px;
  margin-bottom: -2px;
}
.timeline .circle-container:nth-child(2n+1) .tr {
  grid-area: tr;
  border-top: 2px solid #b5bec6;
  border-left: 2px solid #b5bec6;
  border-top-left-radius: 20px;
  margin-bottom: -2px;
}
.timeline .circle-container:nth-child(2n+1) .br {
  grid-area: br;
  border-bottom: 2px solid #b5bec6;
  border-left: 2px solid #b5bec6;
  border-bottom-left-radius: 20px;
  margin-bottom: -2px;
}

.circle-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 5em 5.5em auto;
  grid-template-areas: "tl tl tr tr" "cr cr cr cr" "bl bl br br";
}
.circle-container div {
  grid-area: cr;
}

.circle {
  width: 15vw;
  height: 15vw;
  max-width: 115px;
  max-height: 115px;
  background: #848b91;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.no-border {
  border-top: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}

@media screen and (max-width: 768px) {
  .info span {
    padding-bottom: 1em;
  }
  
  .circle-container {
    grid-template-rows: auto 8em 5.5em auto;
  }
}

@media screen and (max-width: 330px) {
  
  .circle-container {
    grid-template-rows: auto 12em 5.5em auto;
  }
}
.hhtx{
  font-size: clamp(3vw, 40px, 7vw);
}

.transparency_gradient {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #dcdcdc9c, #dcdcdc00);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}